*:focus {
  outline: none; }

body {
  background-image: url(../img/wallpaper_475189803.jpg);
  background-size: cover; }
  body .container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    text-align: center; }

.todoApp {
  width: 25%;
  margin: 20px;
  box-shadow: 0px 0px 13px #c7c6c6;
  padding: 10px;
  transition-duration: 0.8s; }
  .todoApp .mainInput {
    width: 65%;
    border-radius: 5px;
    border: none;
    height: 30px;
    padding: 5px;
    color: #aaaaaa;
    background: rgba(255, 0, 0, 0); }
  .todoApp button {
    margin-bottom: 0px;
    padding: .45rem 2rem;
    font-weight: 600;
    border: none;
    background: #ffffff0a;
    color: rgba(172, 172, 172, 0.719);
    height: 30px;
    box-shadow: 0px 0px 5px #f5f5f542; }
  .todoApp button:hover {
    background: #99999971;
    transition-duration: 0.8s; }
  .todoApp li {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 10px;
    transition-duration: 0.8s; }
    .todoApp li span {
      margin: 0 5px 0px; }
    .todoApp li span.todo-text {
      color: rgba(172, 172, 172, 0.719);
      font-size: 18px; }
    .todoApp li .newTodo {
      border: none;
      color: #aaaaaa;
      background: rgba(255, 0, 0, 0);
      text-align: center;
      font-size: 15px; }
    .todoApp li .fa-window-close {
      color: #b6b6b6;
      font-size: 14px; }
  .todoApp li:hover {
    background: rgba(128, 128, 128, 0.233);
    border-radius: 5px; }
  .todoApp ul {
    padding: 0;
    margin-top: 10px; }

.todoApp:hover {
  box-shadow: 0px 0px 25px #c7c6c6;
  transform: scale(1.02); }

.strikeout {
  text-decoration: line-through; }

.quoteSection {
  width: 100%;
  margin-top: 50px; }
  .quoteSection p {
    color: #b1b1b1;
    font-size: 25px;
    font-family: 'Special Elite', cursive; }

.clockParent {
  width: 50%; }

.clock {
  width: 100px;
  height: 100px;
  background-origin: 20px solid white;
  border-radius: 50%;
  margin: 10px 15px;
  position: relative;
  padding: 2rem;
  box-shadow: 0px 0px 13px #c7c6c6;
  transition-duration: 0.8s; }

.clock-face {
  position: relative;
  width: 100%;
  height: 100%;
  transform: translate(-3px); }

.hand {
  width: 50%;
  height: 2px;
  background: rgba(255, 255, 255, 0.315);
  position: absolute;
  top: 50%;
  transform-origin: 100%;
  transform: rotate(90deg);
  transition: all 0.05s;
  transition-timing-function: cubic-bezier(0.1, 2.7, 0.58, 1); }

.clock:hover {
  box-shadow: 0px 0px 25px #c7c6c6;
  transform: scale(1.03); }

.googleSearchBar {
  margin: 0 auto;
  text-align: center; }
  .googleSearchBar input {
    width: 180%;
    height: 35px;
    border-radius: 15px;
    border: none;
    padding: 5px;
    text-align: center;
    color: #cecece;
    box-shadow: 0px 0px 13px #c7c6c6;
    font-size: 15px;
    transition-duration: 0.8s;
    background: rgba(233, 233, 233, 0);
    margin-top: 30px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
    margin-left: 50px;
    transform: translateX(-30%); }
  .googleSearchBar input:hover {
    box-shadow: 0px 0px 18px #c7c6c6; }
  .googleSearchBar input:focus {
    width: 250%; }

.websiteIconsParent {
  width: 100%;
  margin-top: 200px; }
  .websiteIconsParent .websiteIcons li {
    display: inline-block; }
    .websiteIconsParent .websiteIcons li i {
      font-size: 50px;
      color: #ffffff8f;
      margin: 0 20px;
      transition-duration: 0.8s; }
    .websiteIconsParent .websiteIcons li i:hover {
      color: #1d191942;
      transform: scale(1.4);
      box-shadow: 0px 0px 18px #c7c6c6; }

.greetSection {
  width: 100%; }
  .greetSection .greetInput {
    display: none; }
  .greetSection .greetText {
    color: #b1b1b1;
    font-size: 25px;
    font-family: 'Special Elite', cursive; }

.hideIt {
  display: none; }

.showIt {
  display: inline-block; }

/*# sourceMappingURL=main.css.map */
