
$text-color1:#161616;
$text-color2:white;
$text-color3:#ECAF4E;
$text-color4:#713234;
$text-color5:#9A7A17;
$text-color6:rgb(170, 163, 159);
$text-color7: #8C710D;
$bg-color1:#ECAF4E;
$bg-color2:#F5E3D7;
$bg-color3:#fff;
$bg-color4:#FC683E;
$bg-color5:#161616;




/*=======================================*/
/*  Header */
/*=======================================*/




/*=======================================*/
/*  Main */
/*=======================================*/



/*=======================================*/
/*  Footer */
/*=======================================*/